<div class="demo">

    <div id="tabs" class="tab">
	<ul>
		<li><a href="#tabs-1">Dados pessoais</a></li>
		<li><a href="#tabs-2">Usuarios</a></li>

	</ul>
	<div id="tabs-1" class="tab">
            <h1>Alterar dados pessoais</h1>
            <br>
            Alterar dados
            </br>
        </div>
	<div id="tabs-2" class="tab">
            <h1>Usuarios</h1>
            <!-- FOREACH DE TODOS OS USUARIO DO SISTEMA -->
        </div>

</div>

</div>
<?php
$this->headScript()->appendFile($this->baseUrl().'/js/usuario/configuracao.js');
?>