<style>
    #inicioform label{
        font-size: 16px;
        font-weight: bolder;
        margin-bottom: 10px;

    }

    #inicioform input, select{
        font-size: 14px;
    }

</style>
<input type="hidden" name="idform" id="idform" value="<?php echo $this->idform; ?>">
<div class="span-24" id="inicioform">
    <div id="restrito" class="span-24">
        <div class="span-22 push-1">
            <h2>Criação de uma nova pesquisa</h2>

            Construa sua pesquisa a partir do zero se você tem objetivos específicos.<br>
            Escolha entre mais de 50 tipos de pesquisas já prontas, são o que denominamos planilhas.<br>
            Utilize como base uma pesquisa que já tenha utilizado anteriormente.<br>
        </div>
    </div>
    <div class='clear'><br></div>
    </br>
    <h2>ESCOLHA COMO VOCÊ QUER CRIAR A PESQUISA</h2>
    <div class="span-7 colborder">
        <label><input id="novo" name="tipo" type="radio" value="1" /> Nova pesquisa</label><br>
        Sua pesquisa do zero
        <br> 
        <!-- OCULTO SELEÇÃO -->
        <div id="valnovo" class="hide">
            <br>
            <a href="/pesquisa/formulario" class="botao btnAvancar">AVANÇAR</a>
        </div>
    </div>
    <div class="span-7 colborder">
        <label><input id="modelo" name="tipo" type="radio" value="2" /> Modelos de pesquisa</label><br>

        Selecione um modelo de pesquisa<br> 
        <!-- OCULTO SELEÇÃO -->
        <div id="valmodelo" class="hide">
            <select name="listmodelo">
                <option >Selecione</option>
                <?php foreach ($this->modeloFormulario as $row): ?>
                    <option value="<?php echo $row->getId(); ?>"><?php echo $row->getNome(); ?></option>

                    <?php
                endforeach;
                ?>
            </select>
            <br>
            <h1 class="botao btnAvancar">AVANÇAR</h1>
            </br>
        </div>

    </div>
    <div class="span-7">
        <label> <input id="meus" name="tipo" type="radio" value="3" /> Meus modelos</label><br>
        Selecione um de seus formularios para modelo<br>
        <!-- OCULTO SELEÇÃO -->
        <div class="hide" id="valmeus">
            <select name="listmeus" id="listmeus">
                <option >Selecione</option>
                <?php foreach($this->meusModelos as $row): ?>
                    <option value="<?php echo $row->getId(); ?>"><?php echo $row->getNome(); ?></option>
                <?php endforeach; ?>
            </select>
            <br>
            <h1 class="botao btnAvancar">AVANÇAR</h1>
        </div>

    </div>
    <br></br>
</div>
<?php
$this->headScript()->appendFile($this->baseUrl() . '/js/plugin.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/validador.js');
$this->headScript()->appendFile($this->baseUrl() . '/js/usuario/formulario.js');
?>