<div id="painel" class="span-24">
    <div class="span-22 push-1">
        <br>
        <h2><b>Aplicar pesquisa</b></h2>
        <form name="pesquisa" id="pesquisa" method="POST" action="/usuario/novapesquisa">
            <input type="hidden" name="idformulario" value="<?php echo $this->idformulario; ?>" />
            <input type="hidden" name="idpesquisa" value="<?php echo $this->pesquisa->getId(); ?>" />

            <div class="span-11">
                <b>Nome da pesquisa:</b> <br>
                <input type="text" name="nome" size="40" value="<?php echo $this->pesquisa->getNome(); ?>"/>
                <br>
                <b>Descrição:</b><br>
                <textarea name="descricao"><?php echo $this->pesquisa->getDescricao(); ?></textarea>
                </br>
            </div>
            <div class="span-10">
                <br><br></br>
                <label><input name="temdata" type="checkbox" id="temdata" />  A pesquisa tem data de limite?</label>
                <br><br>
                <div class="hide" id="infodata">
                    <div class="span-3">Data de inicio</div><div class="span-4"><input type="text" id="dtinicio" class="dateBR" name="datainicio"></div>
                    <br>
                    <div class="span-3">Data de fim</div><div class="span-4"><input type="text" id="dtfim" class="dateBR" name="datafim"></div>

                </div>
                <div class="clear"><br></div>

                <b>Opções de acesso:</b> 
                <select name="acesso" id="acesso">
                    <option value="1">Aberto</option>
                    <option value="2">Fechado</option>
                </select>
                <br>
                <div class="hide" id="gerarsenha">
                    Informe uma senha <input type="text" name="senha" id="senha"> ou <label class="botao" id="btnGerar">Gerar senha randomica</label>
                </div>
                <div class="clear"><br></div>
                <button type="submit" class="botao">Aplicar pesquisa</button>
                <br><br>
                <a href="javascript:history.back()" class="botao">Voltar</a> 
                <br>
            </div>
        </form>
    </div>



</div>
<div class="clear"><br></div>

<?php
$this->headScript()->appendFile($this->baseUrl() . '/jquery/jquery-ui/ui/jquery.ui.widget.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/jquery-ui/ui/jquery.ui.dialog.js');
$this->headScript()->appendFile($this->baseUrl() . '/js/plugin.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/validador.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/mascara.js');
$this->headScript()->appendFile($this->baseUrl() . '/js/data.js');
$this->headScript()->appendFile($this->baseUrl() . '/js/usuario/novapesquisa.js');
?>