<?php
$this->headLink()->appendStylesheet($this->baseUrl() . '/jquery/jqgrid/ui.jqgrid.css');
?>
<div id="restrito" class="span-24">
    <div class="span-24 push-1">
        <br>
        <h3>Vizualização de relatórios</h3>
        Exporte os relatórios em mais de <b>4 formatos</b> em exportar.
    </div>
</div>
<div class="clear"><br></div>
<div class="demo">

    <div id="tabs" class="tab">
        <ul>
            <li><a href="#tabs-1">Principal</a></li>
            <li><a href="#tabs-2">Filtro</a></li>
            <li><a href="#tabs-3">Gráfico</a></li>
            <li><a href="#tabs-4">Exportar</a></li>
        </ul>
        <div id="tabs-1" class="tab">
            <h1>Principal</h1>

            <div class="span-8 graficoHome" id="grafico" style="width: 880px"></div>
            <div class="clear"><hr></div>

        </div>
        <div id="tabs-2" class="tab">
            <!-- FOREACH DE TODOS OS USUARIO DO SISTEMA -->
            <select>
                <option>Selecione</option>
                <?php foreach ($this->pesquisa as $row): ?>
                    <option value="<?php echo $row->getId(); ?>"><?php echo $row->getNome(); ?></option>
                <?php
                endforeach;
                ?>
            </select>

        </div>
        <div id="tabs-3" class="tab">
            <h1>Gráfico</h1>
            <div class="span-8 graficoHome" id="grafico" style="width: 880px"></div>
            <div class="clear"><hr></div>
        </div>
        <div id="tabs-4" class="tab">
            <h1>Exportar dados</h1>
        </div>
    </div>

</div>
<?php
$this->headScript()->appendFile($this->baseUrl() . '/jquery/chart/highcharts.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/chart/themes/dark-blue.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/chart/modules/exporting.js');

$this->headScript()->appendFile($this->baseUrl() . '/js/plugin.js');
$this->headScript()->appendFile($this->baseUrl() . '/js/usuario/relatorio.js');
?>