<!-- PARA EXIBIR AS PESQUISAS NOS FORMULARIOS -->
<ul>
    <?php if ($this->ver) { ?>
            <?php
            foreach ($this->ver as $row):
                echo '<li><a href="usuario/verpesquisa/id/'.$row->getId().'">' . $row->getNome() . '  </a></li>';
            endforeach;
        }else {
            echo "<b>Sem resultado</b>";
        }
        ?>
    <?php
    exit;
    ?>
</ul>