
<div class="span-24" id="pesquisa">
    <div class="push-2">
        <br>
        <h2>Pesquisa - <?php echo $this->pesquisa->getNome(); ?> <a href="/usuario/novapesquisa/id/<?php echo $this->pesquisa->getFormulario()->getId(); ?>/peq/<?php echo $this->pesquisa->getId(); ?>" class="botao">Editar</a></h2>
        <hr>
        <br>
        <div class="info">
            <h3>Informações da pesquisa</h3>
            <div class="clear"></div>
            <div class="span-20">
                <div class="span-4">
                    <b>Nome da pesquisa:</b>
                </div>
                <div class="span-15">
                    <?php echo $this->pesquisa->getNome(); ?>
                </div>
                <div class="span-4">
                    <b>Descrição</b>
                </div>
                <div class="span-15">
                    <?php echo $this->pesquisa->getDescricao(); ?>
                </div>
                <div class="clear"><br></div>
                <div class="span-4">
                    <b>Link da pesquisa:</b>
                </div>
                <div class="span-15">
                    <a href="<?php echo $this->pesquisa->getUrl(); ?>">
                        http://www.pesquisainterativa.com.br<?php echo $this->pesquisa->getUrl(); ?>
                    </a>
                </div>
                <div class="clear"><br></div>
                <?php if ($this->pesquisa->getDatainicio()): ?>
                    <div class="clear"><br></div>
                    <div class="span-20">
                        <h3>Essa pesquisa tem data limite</h3>
                    </div>
                    <div class="span-4">
                        <b>Data de inicio:</b>
                    </div>
                    <div class="span-15">
                        <?php echo $this->Date($this->pesquisa->getDatainicio()); ?>
                    </div>
                    <div class="clear"><br></div>
                    <div class="span-4">
                        <b>Data de fim:</b>
                    </div>
                    <div class="span-15">
                        <?php echo $this->Date($this->pesquisa->getDatafim()); ?>
                    </div>

                    <?php
                endif;
                if ($this->pesquisa->getSenha()):
                    ?> 
                    <div class="span-4">
                        <h3>Essa pesquisa tem senha de acesso</h3>
                    </div>
                    <div class="span-15">
                        <label class="botao">Alterar senha</label>
                    </div>
                <?php endif; ?>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <br>
        <hr>
        <br>
        <h2>Opções da pesquisa</h2>
        <a href="/usuario/novapesquisa/id/<?php echo $this->pesquisa->getFormulario()->getId(); ?>/peq/<?php echo $this->pesquisa->getId(); ?>" class="botao">Editar pesquisa</a>
        <br><br>
        <a class="botao excluir" id="<?php echo $this->pesquisa->getId(); ?>">Excluir</a>
        <br><br>
        <a href="" class="botao">Mandar por e-mail para várias pessoas</a>
        <br><br>
        <a href="" class="botao">Comunicar via rede social</a>
        <br><br>
        <a href="javascript:history.back()" class="botao">Voltar</a>    
    </div>
    <br>
</div>

<div class="span-24 hide" id="mensagem">
    <br>
    <h2>Excluido com sucesso</h2>
    <hr>
    <br>
    <a href="/usuario/pesquisa">Voltar para a tela de pesquisas</a>
    <hr>
    <br>
</div>

<?php
$this->headScript()->appendFile($this->baseUrl() . '/js/plugin.js');

$this->headScript()->appendFile($this->baseUrl() . '/js/usuario/verpesquisa.js');
?> 