<h2>Pesquisa <?php echo $this->pesquisa->getNome(); ?></h2>
<input type="hidden" value="<?php echo $this->pesquisa->getId(); ?>" id="idpesquisa">
<input type="hidden" value="<?php echo $this->pesquisa->getFormulario()->getId(); ?>" id="idformulario">
<hr>
<br>

<div id="validacao">
    <?php if ($this->pesquisa->getSenha()) { ?>
        <!-- TEM SENHA DE AUTENTICAÇÃO -->
        Para responder esse formulário é necessario autenticação com senha
        <br><br>
        Informe a senha<br>
        <input type="password" name="peq_senha" id="peq_senha"> <button class="botao" id="btnInfosenha">Iniciar</button>
        <br>
    <?php } else { ?>
        <!-- NÃO TEM SENHA DE AUTENTICAÇÃO -->
        Por favor informe o seu nome para começar a responder o questionário
        <br>
        <input type="text" name="pes_nome" id="pes_nome"> <button class="botao" id="btnIniciar">Iniciar</button>
    <?php } ?>
</div>

<div class="clear"><br></div>

<div class="hide" id="filtro">
    <h1>FILTRO</h1>
    <hr>
    QUE SERVIÇOS VOCÊ UTILIZA?
    <br>
    <button class="botao" id="btnFiltro">Começar questionário</button>
    </br>
</div>
<div class="hide" id="carregandoperguntas">
    <br></br>
    <h2>Aguarde, carregando perguntas...</h2>
</div>

<div class="clear"><br></div>

<div class="hide" id="responder">

</div>

<?php
$this->headScript()->appendFile($this->baseUrl() . '/jquery/mascara.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/validador.js');
$this->headScript()->appendFile($this->baseUrl() . '/js/resposta/questionario.js');
?>