<form name="respostas" action="/resposta/evetivaresposta" method="POST">
    <?php
    //AQUI FICAM OS INPUTS HIDDEN
    ?>
    <input type="hidden" value="<?php echo $this->idformulario; ?>" name="idformulario"/>
    <input type="hidden" value="<?php echo $this->idpesquisa; ?>" name="idpesquisa"/>
    <div class="span-23 push-1">

    </div>
    <?php
    $pergunta = 0;
    foreach ($this->perguntas as $row):
        ?> 
        <div class="span-23 push-1" id="per<?php echo $row->getId(); ?>">
            <div class="span-2 collborder"><b><?php echo $pergunta+=1; ?></b></div>
            <div class="span-16"><?php echo $row->getDescricao(); ?></div>
            <div class="span-4">
            </div>
            <br></br>
            <?php echo $this->Respostaalternativas($row->getAlternativas(), $row->getId()); ?>
            <div class="span-23"><hr></div><br>
            <br>
        </div>

    <?php endforeach; ?>
    <br>
    <button id="btnEnviarpesquisa" type="submit">Enviar respostas</button>


    <br></br>
</form>
<?php exit; ?>