<?php
$this->headLink()->appendStylesheet($this->baseUrl() . '/jquery/jqgrid/ui.jqgrid.css');
?>
<script>
    $('document').ready(function(){
        //GRÁFICOS
        var chart;
        // Apply the theme
        var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'grafico',
                defaultSeriesType: 'bar'
            },
            
            title: {
                text: 'Pesquisas'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                //EXIBE OS FORMULARIOS
                categories: [ <?php foreach ($this->resposta as $row): echo "'" . $row["peq_nome"] . "',";
endforeach; ?> ],
                tickmarkPlacement: 'off',
                title: {
                    enabled: false
                }
            },
            yAxis: {
                title: {
                    text: 'Porcentagem'
                }
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.x +': '+ Highcharts.numberFormat(this.percentage, 1) +'% ('+
                        Highcharts.numberFormat(this.y, 0, ',') +' respostas)';
                }
            },	  
            credits: {
                enabled: false
            },
            plotOptions: {
                area: {
                    stacking: 'percent',
                    lineColor: '#ffffff',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#ffffff'
                    }
                }
            },
            //QUANTIDADE DE PERGUNTAS
            series: [{
                    name: 'Respostas',
                    data: [<?php foreach ($this->resposta as $row): echo "" . $row["respostas"] . ",";
endforeach; ?>]
                }]
        });
        
    });
</script>


<div id="restrito" class="span-24">
    <div class="span-24 push-1">
        <br>
        <input type="hidden" value="<?php echo $this->id; ?>"></input>
        <h3>Vizualização de relatórios</h3>
        Por Pesquisa:
        <!-- FOREACH DE TODOS OS USUARIO DO SISTEMA -->
        <select id="select" >
            <option>Selecione</option>
            <?php foreach ($this->pesquisa as $row):
                if ($this->id == $row->getId()) { ?>
                    <option value="<?php echo $row->getId(); ?>" selected="selected" ><?php echo $row->getNome(); ?></option>
                    <?php
                }
                ?>
                <option value="<?php echo $row->getId(); ?>"><?php echo $row->getNome(); ?></option>
                <?php
            endforeach;
            ?>
                <option value="todos">Todas as pesquisas</option>
        </select>

    </div>
</div>
<div class="clear"><br></div>
<div class="demo">

    <div id="tabs" class="tab">
        <ul>
            <li><a href="#tabs-1">Principal</a></li>
            <li><a href="#tabs-2">Filtro</a></li>
            <li><a href="#tabs-3">Gráfico</a></li>
            <li><a href="#tabs-4">Exportar</a></li>
        </ul>
        <div id="tabs-1" class="tab">
            <h1>Principal</h1>

            <div class="span-8 graficoHome" id="grafico" style="width: 880px"></div>
            <div class="span-8 graficoHome hide" id="graficoPesquisa" style="width: 880px"></div>
            <div class="clear"><hr></div>

        </div>
        <div id="tabs-2" class="tab">


        </div>
        <div id="tabs-3" class="tab">
            <h1>Gráfico</h1>
            <div class="span-8 graficoHome" id="grafico" style="width: 880px"></div>
            <div class="clear"><hr></div>
        </div>
        <div id="tabs-4" class="tab">
            <h1>Exportar dados</h1>
        </div>
    </div>

</div>

<?php
$this->headScript()->appendFile($this->baseUrl() . '/jquery/chart/highcharts.js');
//$this->headScript()->appendFile($this->baseUrl() . '/jquery/chart/themes/dark-blue.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/chart/modules/exporting.js');

$this->headScript()->appendFile($this->baseUrl() . '/js/plugin.js');
$this->headScript()->appendFile($this->baseUrl() . '/js/relatorio/index.js');
?>