
			
    /* image replacement */
        .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // image replacement */
			
		

/* Easy Slider */

	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
		
	#slider2{margin-top:1em;}
	
	#slider li, #slider2 li{ 
		width:696px;
		height:241px;
		overflow:hidden; 
		}	
	
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:block;
		width:80px;
		height:30px;
		position:absolute;
		left:700px;
		top:400px;
		z-index:1000;
		}	
		
	#nextBtn, #slider1next{ 
		left:725px;
		top:395px;
		
		}
		
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:block;
		position:relative;
		width:80px;
		height:30px;
		background:url(esq.png) no-repeat 0 0;	
		}	
		
	#nextBtn a, #slider1next a{ 
		background:url(dir.png) no-repeat 0 0;	
		}	
		

/* // Easy Slider */