<div id="dialogplano"  title="Inserir novo plano">
    <form class="formgrande" name="novoplano" method="POST" action="/planos/novo" enctype="multipart/form-data">
        <div class="span-20">
            FORMULARIO DE CADASTRO
        </div>
        <br>
        <div class="span-20">
            <div class="span-4 desce" style="text-align: right">
                Nome plano 
            </div>
            <div class="span-3">
                <input type="text" name="nome" /><br>
            </div>
        </div>
        <div class="span-20">
            <div class="span-4 desce" style="text-align: right">
                Valor
            </div>
            <div class="span-3">
                <input type="text" name="valor" /><br>
            </div>
        </div>
        <div class="span-20">
            <div class="span-4 desce" style="text-align: right">
                Descricao 
            </div>
            <div class="span-3">
                <input type="text" name="descricao" /><br>
            </div>

        </div>
        <div class="span-20">
            <div class="span-4" style="text-align: right">
                Imagem <input type="file" name="imagem" />
            </div>
            <div>
                <br><br><br>
            </div>
        </div>
        <div class="span-20">
            <button type="submit" class="botao">Inserir novo planot</button>
        </div>
    </form>
</div>

<div id="dialogsenha"  title="Alterar senha">
    <form class="formgrande" name="novasenha" method="POST" enctype="multipart/form-data">
        <div class="span-20">
            Alterar senha
        </div>
        <br>
        <div class="span-20">
            <div class="span-4 desce" style="text-align: right">
                Senha antiga
            </div>
            <div class="span-3">
                <input type="text" name="senhaantiga" id="senhaantiga" /><br>
            </div>
        </div>
        <div class="span-20">
            <div class="span-4 desce" style="text-align: right">
                Senha nova
            </div>
            <div class="span-3">
                <input type="password" name="senhanova" id="senhanova" /><br>
            </div>
        </div>
        <input type="hidden" name="senhaoculta" id="senhaoculta" value="<?php echo Zend_Auth::getInstance()->getStorage()->read()->usu_senha ?>">
        <div class="span-20">
            <button id="botaoalterar" class="botao">Alterar senha</button>
        </div>
    </form>
</div>
<style>

    .selecionado{
        border:1px solid #f00;
    }

</style>

<div class="span-24 painel">

    <div class="span-18 push-1"><br>
        <h4>Hoje dia <?php echo date('d/m/Y') ?> acesso ás <?php echo date('H:i') ?></h4>
        <b>Modelos de formulário: </b>23 , <b>Quantidade de planos: </b> 4 , <b>Usuarios: </b> 2300, <b>Pesquisas em andamento: </b>910
    </div>
    <div class="span-5"><br>
        <b>Usuario:</b> <?php echo Zend_Auth::getInstance()->getStorage()->read()->usu_usuario; ?><br>
        <a class="botao" id="alterarsenha">Alterar senha</a> <br>

    </div>


</div>

<div class="clear"><br></div>
<div class="span-24">
    <div class="span-13">
        <div class="accord">
            <h3><a href="#">Solicitações</a></h3> 
            <div> 
                <p>	
                    In libero a, et dolor interdum in luctus justo integer, quam praesent est lorem et fermentum, 
                    luctus suspendisse lacus, porta vel eu nec wisi luctus. Nam risus pede, enim libero, 
                    nunc mi nam at eget eu eget. Lorem non tincidunt egestas quisque eu. Eu dui sit massa 
                    vitae sit lorem, fringilla et massa, sed faucibus dolor amet, dolor amet massa rutrum 
                    wisi quisque, etiam in ut. Pretium bibendum at gravida in in, morbi nisl, vitae duis 
                    tristique arcu quis integer. Facilisi orci etiam, molestie vel mollis, viverra mauris 
                    ligula. Nonummy pharetra elit ante eu amet,
                    justo ligula pellentesque porttitor faucibus lacus est. Nonummy wisi euismod imperdiet. Commodo 
                    donec per ac ac libero blandit, fringilla justo scelerisque, nec laoreet suscipit. Eu pulvinar 
                    pulvinar feugiat est, potenti cras, ut nam, ut et.
                    Tellus viverra condimentum dictum metus mauris tortor, lorem eu mauris sed sed in, placerat rhoncus lacus luctus, 
                    vitae sagittis ornare dignissim mauris est velit. Enim vehicula elementum lacus convallis diam sed, 
                    imperdiet massa ut orci commodo ut ipsum, sapien per gravida ipsum pede nam vel, ante venen
                    <br>
                    <br>
                    atis phasellus eget pulvinar proin maecenas. Euismod sapien, blandit dolor mus, amet mauris mollis accumsan, sodales mauris nulla volutpat venenatis accumsan mattis, suspendisse duis sociosqu elementum ullamcorper. Vehicula ligula rhoncus ante adipiscing at metus. Neque pede, consectetuer eu mauris.
                </p> 
            </div>	
        </div>
    </div>
    <div class="span-10">
        <div class="accord"> 
            <h3><a href="#">Planos vigentes</a></h3> 
            <div> 
                <div class="span-3"><b>Nome</b></div>				
                <div class="span-2"><b>Valor</b></div>
                <div class="span-2"><b></b></div>
                <div class="clear"><br></div>
                <p>	
                    <?php foreach ($this->ativos as $ind => $reg) { ?>
                    <div class="span-3">
                        <?php echo $reg->getNome(); ?>
                    </div>
                    <div class="span-2">
                        <?php echo $reg->getValor(); ?>
                    </div>
                    <div class="span-2"><a href="/planos/altstatus/id/<?php echo $reg->getId(); ?>/status/0" class="botao">Desativar</a></div>
                    <div class="clear"><br></div>
                <?php } ?>
                </p> 
                <div class="clear"><br></div>
                <button class="botao" id="plano">Novo plano</button>
            </div>			
        </div>
        <br>

        <div class="accord"> 
            <h3><a href="#">Planos inativos</a></h3> 
            <div> 
                <div class="span-2"><b>Nome</b></div>				
                <div class="span-2"><b>Valor</b></div>
                <div class="span-2"><b></b></div>
                <div class="clear"><br></div>
                <p>	
                    <?php foreach ($this->desativados as $ind => $reg) { ?>
                    <div class="span-2">
                        <?php echo $reg->getNome(); ?>
                    </div>
                    <div class="span-2">
                        <?php echo $reg->getValor(); ?>
                    </div>
                    <div class="span-2"><a href="/planos/altstatus/id/<?php echo $reg->getId(); ?>/status/1" class="botao">Ativar</a></div>
                    <div class="span-2"><a href="/planos/altstatus/id/<?php echo $reg->getId(); ?>/status/2" class="botao">Deletar</a></div>
                    <div class="clear"><br></div>
                <?php } ?>
                </p> 
                <div class="clear"><br></div>
                <button class="botao" id="plano">Novo plano</button>
            </div>			
        </div>
    </div>
</div>


<?php
$this->headScript()->appendFile($this->baseUrl() . '/jquery/validador.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/jquery-ui/ui/jquery.ui.widget.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/jquery-ui/ui/jquery.ui.dialog.js');
$this->headScript()->appendFile($this->baseUrl() . '/js/principal/admin.js');
?>

