<style>
    .error{
        padding:0.2em;
        margin-bottom:1em;
        border:1px solid #ddd; 
        margin-right:1px;
    }
    -->
</style>

<!-- PARTE DE CIMA -->
<div class="span-24">
    <div class="span-23">
        <div class="accord"> 
            <h3><a href="#">Cadastro</a></h3> 
            <div>

       <form class="formgrande" id="cadusuario" method="post">
        <div class="span-20">
            <div class="span-5 desce">
                Nome 
            </div>
            <div class="span-14">
                <input type="text" name="nome" size="30">
            </div>
        </div>

        <div class="span-20">
            <div class="span-5 desce">
                E-mail 
            </div>
            <div class="span-14">
                <div class="span-14">
                    <input type="text" class="email" name="email" size="30">
                </div>
                <div class="span-2 hide desce pull-5" id="emailcarregando">
                    <img src="/imagens/carrega.gif" width="20" height="20" >
                    <br>
                </div>
                <div class="span-2 hide desce pull-5" id="emailok">
                    <img src="/imagens/check.gif" width="20" height="20" >
                    <br>
                </div>
                <div class="span-2 hide desce pull-5" id="emailerro">
                    <img src="/imagens/error.png" width="20" height="20" >
                    <br>
                </div>
            </div>
        </div>
        <div class="span-20">
            <div class="span-5 desce">
                Nascimento 
            </div>
            <div class="span-14">
                <input type="text" name="nascimento" class="dateBR" size="10">
            </div>
        </div>
        <div class="span-20">
            <div class="span-5 desce">
                Usuario 
            </div>
            <div class="span-14">
                <div class="span-14">
                    <input type="text" name="usuario" class="usuario">
                </div>
                <div class="span-2 hide desce pull-5" id="usuariocarregando">
                    <img src="/imagens/carrega.gif" width="20" height="20" >
                    <br>
                </div>
                <div class="span-2 hide desce pull-5" id="usuariook">
                    <img src="/imagens/check.gif" width="20" height="20" >
                    <br>
                </div>
                <div class="span-2 hide desce pull-5" id="usuarioerro">
                    <img src="/imagens/error.png" width="20" height="20" >
                    <br>
                </div>
            </div>
        </div>
           
        <div class="span-20">
            <div class="span-5 desce">
                Senha 
            </div>
            <div class="span-14">
                <input type="password" name="senha" id="senha">
            </div>
        </div>
        <div class="span-20">
            <div class="span-5 desce">
                Repita a senha 
            </div>
            <div class="span-14">
                <input type="password" name="confirSenha">
            </div>
        </div>
        <br><br>
        <div class="clear"><br></div>
        <button class="botao"> Cadastrar </button>
        <button class="botao" type="reset"> Limpar dados </button>
        <div class="clear"><br></div>
        <div class="span-14">
            <input type="checkbox" name="termos" /> <a href="#">Termos de compromisso</a>
            <br>
        </div>
        <div class="clear"><br></div>
    </form>

    <!--  CLASSES OCULTAS -->

    <div class="span-20 hide" id="cadastrook">
        <br><br>
        <div class="success">
            <h2>CADASTRO EFETUADO COM SUCESSO! 	:]</h2>
            <br>
            <br>
            Arrumar formatação 
            <br><br>
            <a href="/"> Faça login aqui </a>
            <br>
            <br>
        </div>


        <br>
        <br>
    </div>

            </div>
        </div>
    </div>

</div>
<br>
<div class="clear"><br></br></div>

<?php
$this->headScript()->appendFile($this->baseUrl() . '/jquery/mascara.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/validador.js');
$this->headScript()->appendFile($this->baseUrl() . '/js/principal/cadastro.js');
?>
