<div class="span-24 painel">
    <div class="push-1">
        <h2> <br> NOVO MODELO DE FORMULÁRIO </h2>
        <form name="" action="" method="post" class="formgrande">
            <div class="span-20">
                <div class="span-4">Nome</div>
                <div class="span-10"><input type="text" name="nome" size="50"/></div>
            </div>
            <div class="span-20">
                <div class="span-4">Descrição</div>
                <div class="span-10"><input type="text" name="nome" size="50"/></div>
            </div>
            <div class="span-20">
                <div class="span-4">Tema</div>
            </div>	
            <div class="span-20">
                <div class="span-4">Tema</div>
            </div>	
            <div class="span-10"><input type="text" name="nome" size="50"/></div>

        </form>
        <br>
        <div class="clear"><br></div>
        <button class="botao">Salvar formulario </button>
        <div class="clear"><br></div>
    </div>
</div>

<div class="clear"><br></div>
<div class="span-24 hide" id="perguntas">

    <div class="accord">
        <h3><a href="#">Perguntas</a></h3> 
        <div> 
            <p>	
            </p> 
        </div>	
    </div>
</div>


<?php
$this->headScript()->appendFile($this->baseUrl() . '/jquery/jquery-ui/ui/jquery.ui.widget.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/jquery-ui/ui/jquery.ui.dialog.js');
$this->headScript()->appendFile($this->baseUrl() . '/js/principal/admin.js');
?>

