<!-- PRINCIPAL  -->
<style>
    img{
        margin-right:6px;
    }

    #message{
        color:#f00;
    }
    .texto{
        text-shadow: 10px 10px 10px #005;
        top: 10px;
        width: 380px;
        font-size: 20px;
    }
</style>
<?php
$this->headLink()->appendStylesheet($this->baseUrl() . '/jquery/slider/screen.css');
?>

<!-- PAGINA INDEX -->
<div class="span-24" id="index">
    <div class="span-6">
        <div class="accord"> 
            <h3><a href="#">Acesso restrito</a></h3> 
            <div> 
                <!-- SE ESTIVER AUTENTICADO -->
                <?php if (!Zend_Auth::getInstance()->hasIdentity()) { ?>
                    <p>	
                        <?php
                        if (!empty($this->message)) {
                            echo '<b style="color:#f00">'.$this->escape($this->message).'</b>';
                        }
                        echo $this->form;
                        ?>
                    </p> 

                    <br>
                    <a href="#">Esqueceu a senha?</a><br>
                    <a href="/principal/cadastro">Cadastre-se</a>
                    <br>
                <?php } else { ?>
                    <p>Olá,
                    <?php echo Zend_Auth::getInstance()->getStorage()->read()->usu_usuario ?>
                        <br>
                        Hoje: <?php echo date('d/m/Y'); ?><br>
                        <a href="/usuario/index" class="botao">Minhas pesquisas</a>
                        <br><br>
                        <a href="/principal/logout" class="botao">Sair</a>
                        <br>
                    </p>
                <?php } ?>
            </div>		
        </div>
        <br><br>
        <div class="accord"> 
            <h3><a href="#">ACESSO</a></h3> 
            <div> 
                <br>
                <br>
                <br>
                CLEAR
                <br>		
            </div>		
        </div>
    </div>

    <div class="span-17">
        <div class="span-17">
            <div id="slider">
                <ul>				
                    <li><a href="#"><img src="imagens/01.jpg" alt="Pesquisas rapidas" /></a></li>
                    <li><a href="#"><img src="imagens/02.jpg" alt="Satisfação" /></a></li>
                    <li><a href="#"><img src="imagens/03.jpg" alt="Inteligencia" /></a></li>

                </ul>
            </div>
        </div>	


        <div class="span-6"> 
            <br></br>
        </div>	
        <div class="span-17 sessao">
            <div class="span-8 border">	
                <h3><b class="texto"> Titulo 1 </b></h3>
                <img class="top left" align="left" src="<?php echo $this->baseUrl() ?>/imagens/destaque.png" width="130" height="100" alt="teste"/>

                Praesent small caps tempus fringilla elit. Ut elit diam, sagittis in, nonummy in, gravida non, nunc. Ut orci. 
                Class aptent taciti sociosqu ad litora torquent per conubia nostra vitae egestas tellus.
                <a href="#">veja</a>	
            </div>

            <div class="span-8">	
                <h3> <b class="texto">Titulo 2</b> </h3>
                <img class="top left" align="left" src="<?php echo $this->baseUrl() ?>/imagens/destaque.png" width="130" height="100" alt="teste"/>
                Praesent small caps tempus fringilla elit. Ut elit diam, sagittis in, nonummy in, gravida non, nunc. Ut orci. 
                Class aptent taciti sociosqu ad litora torquent per conubia nostra vitae egestas tellus.
                <a href="#">veja</a>		
            </div>
            <br>
            <br>
            <div class="span-16 propaganda">
                <div class="clear"><br><br></div>
                <a href="#">
                    <img align="left" src="<?php echo $this->baseUrl() ?>/imagens/banner.jpg" width="690" />
                </a>
            </div>
        </div>	
    </div>

</div>
<?php
//SLIDER
$this->headScript()->appendFile($this->baseUrl() . '/jquery/slider/easySlider1.7.js');
$this->headScript()->appendFile($this->baseUrl() . '/js/principal/index.js');
?>
<div class="clear" ><br></div>


