<!-- PRINCIPAL  -->
<!-- PARTE DE CIMA -->
<div class="span-24">
	<div class="span-6">
		<div class="accord"> 
			<h3><a href="#">ACESSO</a></h3> 
			<div> 
				<p>	
                                    teste do svn
				</p> 
			</div>			
		</div>
	</div>
	
	
	<div class="span-17">
		<h1> PESQUISA </h1>
                Simples e de muita utilidade.
		
	</div>	
</div>
<br>
<div class="clear"><br></div>
<br>
<!-- PARTE DE BAIXO -->
<div class="span-24">



</div>