<?php
/*
  foreach ($this->pergunta as $row):
  var_dump($row->getAlternativas());

  endforeach;
  exit;

 */
?>
<!-- CORTE CENTRAL -->
<div id="restrito" class="span-24">
    <div class="span-22 push-1">
        <h2>Editar pergunta do formulario</h2>
    </div>
    <?php
    foreach ($this->pergunta as $row):
        ?> 
        <div class="span-23 push-1">
            <div class="span-23"></div>
            <form name="altpergunta" action="/pesquisa/uppergunta" method="POST">
                <!-- FORMULARIO ID -->
                <div class="span-11">
                    <input type="hidden" name="idformulario" value="<?php echo $this->idform; ?>">

                    <input type="hidden" name="idpergunta" id="idpergunta" value="<?php echo $row->getId(); ?>">

                    Pergunta<br>
                    <textarea cols="3" name="pergunta" rows="4"><?php echo $row->getDescricao(); ?></textarea>
                </div>
                <div class="span-6">
                    <br>
                    <fieldset class="span-11">
                        <legend>Alternativas</legend>

                        <?php echo $this->alternativasalteracao($row->getAlternativas()); ?>
                        <div class="clear" id="caixaAlternativa">
                            
                        </div>
                        <hr class="span-3 clear">
                        <label class="botao" id="btnAlternativa">Adicionar pergunta</label>
                        <br>
                    </fieldset>
                </div>

                <div class="clear"><br></div>
                <button type="submit" class="botao">Salvar alteração</button>
                <a class="botao" href='javascript:history.back(1)'>Cancelar alteração</a>

            </form>
        </div>
    <?php endforeach; ?>
    </br>

</div>
<?php
$this->headScript()->appendFile($this->baseUrl() . '/jquery/jquery-ui/ui/jquery.ui.widget.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/jquery-ui/ui/jquery.ui.dialog.js');
$this->headScript()->appendFile($this->baseUrl() . '/js/plugin.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/validador.js');
$this->headScript()->appendFile($this->baseUrl() . '/js/pesquisa/altpergunta.js');
?>