<!-- LISTA PESQUISAS NO BOX DE PESQUISA -->
<style>
    #pesquisas{
        font-size: 16px;
    }
    
    #pesquisas:hover{
        color:#111;
    }
</style>
<ul id="pesquisas">
    <?php
    if ($this->pesquisas) {
        foreach ($this->pesquisas as $row):
            echo '<li><a href="usuario/verpesquisa/id/'.$row->getId().'">' . $row->getNome() . '</a></li>';
        endforeach;
    }else {
        echo "Sem resultado";
    }
    exit;
    ?>
</ul>