<div class="span-24" id="novoform">
    <!--
    <button class="botao" id="btnVolta"> Voltar</button>
    -->
    <div class="clear"><br></div>

    <div class="accord">
        <h3><a href="#">Novo modelo de formulario</a></h3>
        <div>
            <div id="divPergunta">
                <!-- AQUI VEM O FORM PADRÃO -->
                <div>
                    <form name="cadformulario" class="formgrande" id="cadformulario" method="post" action="/pesquisa/novoformulario">
                        <div class="span-11">
                            <div class="span-8"><input type="text" name="nome" size="30"  placeholder="Nome da pesquisa"></input></div>
                            <div class="clear"></div>
                            <div class="span-8"><textarea cols="3" name="descricao" rows="3" placeholder="Descrição..."></textarea></div>
                        </div>
                        <div class="span-11" style="font-size:12px;">
                            <fieldset>
                                <legend>Escolha um tema para o formulário</legend>
                                Escolha um tema para o formulário, caso não seja definido o tema padrão é escolhido.<br>
                                Para visualizar o tema clique na imagem.
                                <div class="clear"><br><br><br></div>

                                <?php foreach ($this->listaTema as $row): ?>
                                    <div class="span-3">
                                        <label> <input type="radio" name="tema" value="<?php echo $row->getId(); ?>" />  <?php echo strtoupper($row->getNomefantasia()); ?></label>
                                        <img src="imagens/tema/<?php echo $row->getImagem()->getNome(); ?>.png" width="60" height="60">
                                    </div>
                                <?php endforeach; ?>
                            </fieldset>
                        </div>             
                        <button class="botao" type="submit" id="btnInserir">Inserir</button>
                        <button class="botao" type="reset">Limpar</button>
                    </form>
                    <div class="clear"><br></div>

                </div>
            </div>
        </div>
    </div>
</div>
<?php
$this->headScript()->appendFile($this->baseUrl() . '/jquery/jquery-ui/ui/jquery.ui.widget.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/jquery-ui/ui/jquery.ui.dialog.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/mascara.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/validador.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/formerize.js');

$this->headScript()->appendFile($this->baseUrl() . '/js/pesquisa/formulario.js');
?>