<div class="span-24">
    <div class="clear"><br></div>


    <div class="accord">
        <h3><a href="#">Nova pergunta</a></h3>
        <div>
            <div id="divPergunta">
                <!-- AQUI VEM O FORM PADRÃO -->
                <div>
                    <form name="cadformulario" class="formgrande" id="cadformulario" method="post" action="/pesquisa/novoformulario">
                        <input type="hidden" name="idform" value="<?php echo $this->idform; ?>">
                        <div class="span-11">
                        </div>
                        <div class="span-11" style="font-size:12px;">
              
                        </div>             
                        <button class="botao" id="btnInserir">Inserir</button>
                    </form>
                    <div class="clear"><br></div>
       
                </div>
            </div>
        </div>
    </div>
</div>
<?php

$this->headScript()->appendFile($this->baseUrl() . '/js/admin/novapergunta.js');
?>