<div id="dialogpergunta"  title="Nova pergunta">
    <div id="caixaTipo">
        Escolha um tipo de pergunta.<br>
        <select name="tipoPergunta" id="tipoPergunta">
            <option>Selecione um tipo de pergunta</option>
            <?php foreach ($this->tipoPergunta as $row): ?>
                <option value="<?php echo $row->getId(); ?>"><?php echo ucfirst($row->getNome()); ?></option>
            <?php endforeach; ?>
        </select>
    </div>
    <hr>
    <div class='clear'><br></div>
    <div id="caixaDissertativa" class="hide">
        <form name="perguntaDissertativa" action="/pesquisa/addpergunta" method="POST">
            <input type="hidden" name="id" value="<?php echo $this->id; ?>">
            <input type="hidden" name="tipo" value="dissertativa">
            Pergunta<br>
            <textarea cols="3" name="pergunta" rows="4"></textarea>
            <br>
            <button type="submit" class="botao">Inserir pergunta</button>
            </br>
        </form>
    </div>
    <div id="caixaAlternativa" class="hide">
        <form name="perguntaAlternativa" id="perguntaAlternativa" action="/pesquisa/addpergunta" method="POST">
            <input type="hidden" name="id" value="<?php echo $this->id; ?>">
            <input type="hidden" name="tipo" value="alternativa">
            <div class="span-11">
                Pergunta<br>
                <textarea cols="1" name="pergunta" rows="1"></textarea>
            </div>
            <div class="span-10">
                <fieldset>
                    <legend>Alternativas</legend>
                    <div class="caixaAlternativa">

                    </div>
                    <div class="clear"><br></div>
                    <input type="hidden" name="valalt" id="valalt" value="">
                    <div class="clear"><br></div>
                    <label class="botao" id="add"> + Adicionar alternativa</label>

                    <div class="clear"><br></div>   
                </fieldset>
            </div>
            <div class="clear"><br></div>
            <button type="submit" class="botao">Salvar pergunta</button>
        </form>
    </div>
</div>

<!-- CORTE CENTRAL -->
<div id="restrito" class="span-24">
    <div class="span-22 push-1">
        <h2>Perguntas do formulario <?php echo $this->formulario->getNome(); ?></h2>
        <br>
        <b>Descrição:</b>
        <?php echo $this->formulario->getDescricao(); ?>
        <input type="hidden" name="idform" value="<?php echo $this->id; ?>">
    </div>
    <br>
    <hr>
    <div class="span-23 push-1">
        <div class="span-2 collborder"><b>Nº</b></div>
        <div class="span-16"><b>Pergunta</b></div>
        <div class="span-4"><b>Opções</b> </div>
    </div>
    <?php
    $pergunta = 0;
    foreach ($this->perguntas as $row):
        ?> 
        <div class="span-23 push-1" id="per<?php echo $row->getId(); ?>">
            <div class="span-2 collborder"><b><?php echo $pergunta+=1; ?></b></div>
            <div class="span-16"><?php echo $row->getDescricao(); ?></div>
            <div class="span-4"><a href="/pesquisa/altpergunta/id/<?php echo $row->getId(); ?>/frm/<?php echo $this->id; ?>" class="botao editpergunta" id="<?php echo $row->getId(); ?>" >Edit</a> | <label class="botao delpergunta" id="<?php echo $row->getId(); ?>" >Del</label> </div>
            <br></br>
            <?php echo $this->alternativas($row->getAlternativas()); ?>
            <div class="span-23"><hr></div><br>
            <br>
        </div>
    <?php endforeach; ?>
    <hr>
    <div class="span-22 push-1">
        <button class="botao" id="btnNova">Nova pergunta</button>
    </div>
    </br>
</div>
<div class="clear"><br></div>
<?php if (Zend_Auth::getInstance()->getStorage()->read()->tus_id == 3) { ?>
    <a href="/admin/formulario" class="botao">Finalizar formulário</a>

<?php } else { ?>
    <a href="/usuario/pesquisa" class="botao">Finalizar formulário</a>
    <a href="/usuario/novapesquisa/id/<?php echo $this->id; ?>" class="botao">Aplicar pesquisa</a>

<?php } ?>
<?php
$this->headScript()->appendFile($this->baseUrl() . '/jquery/jquery-ui/ui/jquery.ui.widget.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/jquery-ui/ui/jquery.ui.dialog.js');
$this->headScript()->appendFile($this->baseUrl() . '/js/plugin.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/validador.js');
$this->headScript()->appendFile($this->baseUrl() . '/js/pesquisa/pergunta.js');
?>