<div class="demo">

    <div id="tabs" class="tab">
	<ul>
		<li><a href="#tabs-1">Relatórios</a></li>
		<li><a href="#tabs-2">Usuarios</a></li>
		<li><a href="#tabs-3">Financeiro</a></li>
                <li><a href="#tabs-4">Configurações</a></li>
	</ul>
	<div id="tabs-1" class="tab">
            <h1>Relatórios</h1>
        </div>
	<div id="tabs-2" class="tab">
            <h1>Usuarios</h1>
            <!-- FOREACH DE TODOS OS USUARIO DO SISTEMA -->
            
        </div>
	<div id="tabs-3" class="tab">
            <h1>Financeiro</h1>
        </div>
        <div id="tabs-4" class="tab">
            <h1>Configurações</h1>
        </div>
</div>

</div>
<?php
$this->headScript()->appendFile($this->baseUrl().'/js/admin/configuracao.js');
?>