<div id="dialogalterar"  title="Alteração do Formulario">
    <form class="formgrande" name="novonome" method="POST" enctype="multipart/form-data">
        <div class="span-20">
            ALTERAÇÃO DE FORMULÁRIO
        </div>
        <br>
        <div class="span-20">
            <div class="span-4 desce" style="text-align: right">
                Nome 
            </div>
            <div class="span-3">
                <input type="text" name="nome" id="nome" /><br>
            </div>
        </div>
        <!-- ESTOU COLOCANDO ESSE HIDDEN PARA PODER PEGAR O ID DO FORM QUE VOU ALTERAR-->
        <input type="hidden" id="idParaAlteracao">
        <div class="span-20">
            <button type="button" name="alterar" id="alterar" class="botao">Confirmar Alteração</button>
        </div>
    </form>
</div>

<div id="informacoes">
    <a href="/pesquisa/formulario" class="botao">Novo modelo de formulário</a>

    <div class="clear"><br></div>

    <!-- MODELOS DE FORMULARIOS CRIADOS -->
    <div class="span-18">
        <div class="accord">
            <h3><a href="#">Modelos prontos de formulario </a></h3>
            <div>
                <div class="span-5"><h3>Nome</h3></div>
                <div class="span-4"><h3>Qtde perguntas</h3></div>
                <div class="span-3"><h3>Planos</h3></div>
                <div class="span-4"><h3>Opções</h3></div>

                <div class="clear"></div>
                <?php foreach ($this->quantidadePergunta as $row): ?>
                    <div id="form<?php echo $row['for_id']; ?>">
                        <div class="span-5"><?php echo $row['for_nome']; ?></div>
                        <div class="span-4"><?php echo $row['quantidade']; ?></div>
                        <div class="span-3">Free,Plus, alfa</div>
                        <div class="span-4">
                            <button class="botao excluir" id="<?php echo $row['for_id']; ?>">Excluir</button>
                            <a href="/usuario/novapesquisa/id/<?php echo $row['for_id']; ?>" class="aplicar" title="Aplicar nova pesquisa">&nbsp;</a>
                            <a class="ver" title="Ver pesquisas" id="<?php echo $row['for_id']; ?>">&nbsp;</a>
                            <a href="/pesquisa/altformulario/id/<?php echo $row['for_id']; ?>/tipo/alteracao" class="editar" title="Editar formulario ">&nbsp;</a>
                            <a href="/pesquisa/pergunta/id/<?php echo $row['for_id']; ?>" class="editarPergunta" title="Editar perguntas ">&nbsp;</a>

                        </div>
                        <hr>
                        <input type="hidden" id="nomevelho<?php echo $row['for_id']; ?>" value="<?php echo $row['for_nome']; ?>">
                    </div>    
                <?php endforeach; ?>
            </div>
        </div>
    </div>

    <!--  TEMAS DE FORMULARIO  -->
    <div class="span-5" style="width:220px;">
        <div class="accord">
            <h3><a href="#">Temas de formularios</a></h3>
            <div>
                <div class="span-3">
                    <b>Nome</b>
                </div>
                <div class="span-1">
                    <b>Modelo</b>
                </div>
                <div class="clear"><br></div>
                <?php foreach ($this->listaTema as $row): ?>
                    <div class="span-3">
                        <b><?php echo $row->getNomefantasia() ?></b><br>
                        <a href="#" title="ver em tamanho real">Visualizar</a>
                    </div>
                    <div class="span-1">

                        <img src="imagens/tema/<?php echo $row->getImagem()->getNome(); ?>.png"  width="50" height="50">
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
</div>

<div class="span-24 hide" id="novoform">
    <button class="botao" id="btnVolta"> Voltar</button>

    <div class="clear"><br></div>


    <div class="accord">
        <h3><a href="#">Novo modelo de formulario</a></h3>
        <div>
            <div id="divPergunta">
                <!-- AQUI VEM O FORM PADRÃO -->
                <div>
                    <form name="cadformulario" class="formgrande" id="cadformulario" method="post" action="/admin/novoformulario">
                        <div class="span-11">
                            <div class="span-8"><input type="text" name="nome" size="30"  placeholder="Nome da pesquisa"></input></div>
                            <div class="clear"></div>
                            <div class="span-8"><textarea cols="3" name="descricao" rows="3" placeholder="Descrição..."></textarea></div>
                        </div>
                        <div class="span-11" style="font-size:12px;">
                            <fieldset>
                                <legend>Escolha um tema para o formulário</legend>
                                Escolha um tema para o formulário, caso não seja definido o tema padrão é escolhido.<br>
                                Para visualizar o tema clique na imagem.
                                <div class="clear"><br><br><br></div>

                                <?php foreach ($this->listaTema as $row): ?>
                                    <div class="span-3">
                                        <label> <input type="radio" name="tema" value="<?php echo $row->getId(); ?>" />  <?php echo strtoupper($row->getNomefantasia()); ?></label>
                                        <img src="imagens/tema/<?php echo $row->getImagem()->getNome(); ?>.png" width="60" height="60">
                                    </div>
                                <?php endforeach; ?>
                            </fieldset>
                        </div>             
                        <button class="botao" type="submit" id="btnInserir">Inserir</button>
                        <button class="botao" type="reset">Limpar</button>
                    </form>
                    <div class="clear"><br></div>

                </div>
            </div>
        </div>
    </div>
</div>
<?php
$this->headScript()->appendFile($this->baseUrl() . '/jquery/jquery-ui/ui/jquery.ui.widget.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/jquery-ui/ui/jquery.ui.dialog.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/mascara.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/validador.js');
$this->headScript()->appendFile($this->baseUrl() . '/jquery/formerize.js');

$this->headScript()->appendFile($this->baseUrl() . '/js/admin/formulario.js');
?>