<div class="span-16">
    <a href="/usuario/formulario" class="botao">Novo formulario</a>
    <a href="#" class="botao">Baixar manual</a>
</div>
<div class="span-7">
    <input name="pesquisa" id="pesquisainput" placeholder="Procure aqui..."><a id="pesquisa" class="botao">Pesquisar</a>
</div>

<div class="clear"><br></div>

<div class="span-16 painel">
    <div class="span-15 push-1">
        <br>
        <b class="titulo-pesquisa">Seus formulários</b>
        <br></br>
        <div class="span-14 titulo-pesquisa">
            <div class="span-6">Nome</div>
            <div class="span-6">Ações</div>
        </div>
        <div class="clear"><br></div>
        <?php foreach ($this->listaFormulario as $row): ?>
            <div class="span-15" id="for<?php echo $row->getId(); ?>">
                <div class="span-6"><?php echo $row->getNome(); ?> </div>
                <div class="span-8">
                    <a href="/usuario/novapesquisa/id/<?php echo $row->getId(); ?>" class="aplicar" title="Aplicar nova pesquisa">&nbsp;</a>
                    <a class="ver" title="Ver pesquisas" id="<?php echo $row->getId(); ?>">&nbsp;</a>
                    <a href="/pesquisa/altformulario/id/<?php echo $row->getId(); ?>/tipo/alteracao" class="editar" title="Editar formulario ">&nbsp;</a>
                    <a href="/pesquisa/pergunta/id/<?php echo $row->getId(); ?>" class="editarPergunta" title="Editar perguntas ">&nbsp;</a>
                    <button id="<?php echo $row->getId(); ?>" class="deletar" title="Deletar formulario">&nbsp;</button>
                </div>
            </div>
            <div class="clear"></div>
            <div class="pform hide span-12" id="peq<?php echo $row->getId(); ?>">

            </div>
            <div class="pull-1 hide" id="fechar<?php echo $row->getId(); ?>" value="<?php echo $row->getId(); ?>">
                <label id="<?php echo $row->getId(); ?>" class="fechar" title="Clique para ocultar as pesquisas desse form"><span style="font-size:10px; color:#0386BE; cursor:nw-resize">Ocultar pesquisas</span></label>
            </div>
            <div class="clear"><br></div>
        <?php endforeach; ?>


    </div>
</div>
<div class="span-7">
    <div class="info" id="bloco">
        <h3>Procure suas pesquisas</h3>
    </div>
</div>




<?php
$this->headScript()->appendFile($this->baseUrl() . '/js/usuario/pesquisa.js');
?>